# 请将你的阿里云百炼 API Key 填入此处，并重命名文件为 .env
QWEN_API_KEY=your_api_key_here
QWEN_BASE_URL=https://dashscope.aliyuncs.com/compatible-mode/v1
QWEN_MODEL_NAME=qwen3.5-plus

# 高德地图 API Key
AMAP_API_KEY=your_amap_api_key_here

