*.iml
.gradle
/local.properties
/.idea/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
.trae
gradle/wrapper/*.zip

build/
app/build/
.gradle/
local.properties


temp_gitee_repo/
temp_yolo_repo/

